* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #2A3D45;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#logo-texto {
    display: flex;
    align-items: center;
}

#logo {
    width: 80px;
    height: auto;
    margin-right: 15px;
}

#texto p {
    font-size: 18px;
    color: #FF922F;
    margin: 0;
}

/* Men煤 de navegaci贸n */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    border: 2px solid #555;
    border-radius: 10px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #FF922F;
    background-color: #555;
}

#carrito {
    width: 20px; 
}

/* Estilos de la secci贸n principal */
#apicultura-sierra-gata {
    background-color: #f9f5f1; 
    padding: 60px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    text-align: left;
  }
  
  #apicultura-sierra-gata h1 {
    font-size: 32px;
    color: #2A3D45;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #apicultura-sierra-gata h2 {
    font-size: 24px;
    color: #FF922F;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0000002e; 
    border-radius: 4%;
    padding: 10px;
  }
  
  #apicultura-sierra-gata p, #apicultura-sierra-gata ul {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
  }
  
  #apicultura-sierra-gata ul {
    list-style: none;
  }
  
  #apicultura-sierra-gata li {
    padding-left: 25px;
    position: relative;
    margin-bottom: 10px;
  }
  
  #apicultura-sierra-gata li::before {
    content: ""; 
    position: absolute;
    left: 0;
    color: #FF922F;
    font-size: 20px;
  }
  
  #apicultura-sierra-gata p {
    margin-bottom: 20px;
  }
  
  /* Bot贸n de acci贸n para enlaces o CTA */
  #apicultura-sierra-gata a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF922F;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  #apicultura-sierra-gata a:hover {
    background-color: #e77f26;
  }
  